<%-include('../cabecalho.ejs')%>
    <h1 style="text-align:center; margin-bottom:32px; color:#333;">Jogos</h1>
    <a href="/jogos/add" class="btn add" style="margin-bottom:32px;">Adicionar Jogo</a>
    <table class="curso-table" style="margin-top:24px;">
        <thead>
            <tr style="background:#e9ecef; color:#333;">
                <th>Nome</th>
                <th>Ano</th>
                <th>Gênero</th>
                <th>Desenvolvedor</th>
                <th>Classificação</th>
                <th>Plataforma</th>
                <th>Preço</th>
                <th colspan="2" style="text-align:center;">Ações</th>
            </tr>
        </thead>
        <tbody>
        <%for (const{nome, ano, genero, plataforma, etaria, preco, id} of Jogos) {%>
        <tr>
            <td><%=nome%></td>
            <td><%=ano%></td>
            <td><%=genero%></td>
            <td><%=plataforma%></td>
            <td><%=etaria%></td>
            <td>R$ <%=preco%></td>
            <td><a href="/jogos/edt/<%=id%>" class="btn edit"><i class="fa-solid fa-pen">‌</i>&nbsp;Editar Jogo</a></td>
            <td><a href="/jogos/del/<%=id%>" class="btn delete" onclick="return confirm('Tem certeza que deseja excluir este jogo?')"><i class="fa-solid fa-box-archive">‌</i>&nbsp;Excluir Jogo</a></td>
        </tr>
        <%}%>
        </tbody>
    </table>
    
<%-include('../rodape.ejs')%>