<%-include('.. /cabecalho.ejs')%>
    <h1 style="text-align:center; margin-bottom:32px; color:#333;">Livros</h1>
    <a href="/livros/add" class="btn add" style="margin-bottom:32px;">Adicionar Livro</a>
    <table class="curso-table" style="margin-top:24px;">
        <thead>
            <tr style="background:#e9ecef; color:#333;">
                <th>Título</th>
                <th>Autor</th>
                <th>Ano</th>
                <th>Categoria</th>
                <th>ISBN</th>
                <th>Editora</th>
                <th>Páginas</th>
                <th>Disponibilidade</th>
                <th colspan="2" style="text-align:center;">Ações</th>
            </tr>
        </thead>
        <tbody>
            <%for (const{titulo, autor, ano, categoria, isbn, editora, paginas, disponibilidade} of Livros) {%>
                <tr>
                    <td>
                        <%titulo%>
                    </td>
                    <td>
                        <%=autor%>
                    </td>
                    <td>
                        <%=ano%>
                    </td>
                    <td>
                        <%=categoria%>
                    </td>
                    <td>
                        <%=isbn%>
                    </td>
                    <td>
                        <%=editora%>
                    </td>
                    <td>
                        <%paginas%>
                    </td>
                    <td>
                        <%disponibilidade%>
                    </td>
                    <td><a href="/livros/edt/<%=id%>" class="btn edit"><i class="fa-solid fa-pen">‌</i></a> <a
                            href="/livros/del/<%=id%>" class="btn delete"
                            onclick="return confirm('Tem certeza que deseja excluir este livro?')"><i
                                class="fa-solid fa-box-archive">‌</i></a></td>
                </tr>
                <%}%>
        </tbody>
    </table>

    <%-include('.. /rodape.ejs')%>