<%-include('../cabecalho.ejs')%>
    <h1>Gêneros</h1>
    <div>
        <form action="
        " method="post">
        <input type="text" name="filtro"
        id="" placeholder="Pesquisar...">
        <button type="submit" class="btn submit">Realizar pesquisa</button>
    </form>
    </div>
    <a href="/generos/add" class="btn">Adicionar Genero</a>
    <table class="aluno-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th colspan="2" style="text-align:center;">Ações</th>
            </tr>
        </thead>
        <tbody>
        <!--aqui vamos fazer o for-->
        <%for (const{nome, id} of Generos) {%>
        <tr>
            <td><%=nome%></td>
            <td><a href="/generos/edt/<%=id%>" class="btn edit"><i class="fa-solid fa-pen">‌</i>&nbsp;Editar Gênero</a></td>
            <td><a href="/generos/del/<%=id%>" class="btn delete" onclick="return confirm('Tem certeza que deseja excluir este genero?')"><i class="fa-solid fa-box-archive">‌</i>&nbsp;Excluir Gênero</a></td>
        </tr>
        <%}%>
        </tbody>
    </table>
    
<%-include('../rodape.ejs')%>