<%-include('../cabecalho.ejs')%>
    <h1>Categorias</h1>
    <div>
        <form action="
        " method="post">
            <input type="text" name="filtro" id="" placeholder="Pesquisar...">
            <button type="submit" class="btn submit">Realizar pesquisa</button>
        </form>
    </div>
    <a href="/categorias/add" class="btn add" style="margin-bottom:32px;">Adicionar Categoria</a>
    <table class="curso-table" style="margin-top:24px;">
        <thead>
            <tr style="background:#e9ecef; color:#333;">
                <th>Nome</th>
                <th style="text-align:center;" colspan="2">Ações</th>
            </tr>
        </thead>
        <tbody>
            <%for (const{nome, id} of Categorias) {%>
                <tr>
                    <td>
                        <%=nome%>
                    </td>
                    <td><a href="/categorias/edt/<%=id%>" class="btn edit"><i class="fa-solid fa-pen">‌</i></a><a
                            href="/categorias/del/<%=id%>" class="btn delete"
                            onclick="return confirm('Tem certeza que deseja excluir esta categoria?')"><i
                                class="fa-solid fa-box-archive">‌</i></a></td>
                </tr>
                <%}%>
        </tbody>
    </table>

    <%-include('../rodape.ejs')%>