<%-include('../cabecalho.ejs')%>
    <h1>Editar Empréstimos</h1>
    <div style="margin-bottom: 24px;">
        <a href="/emprestimo/lst" class="btn">Listar</a>
    </div>
    <div>
        <form method="post">
            <label>Livro:</label>
            <select name="titulo">
                <% Livros.forEach(function(Livro) { %>
                    <option value="<%= Livro.titulo %>" <%= Livro.titulo === emprestimo.titulo ? 'selected' : '' %>><%= Livro.titulo %></option>
                <% }); %>
            </select><br>
            <label>Nome do Usuário:</label>
            <input type="text" name="nomeUsr" value="<%=emprestimo.nomeUsr%>" required>
            <label>Email do Usuário:</label>
            <input type="email" name="emailUsr" value="<%=emprestimo.emailUsr%>" required>
            <label>Data de Empréstimo:</label>
            <input type="date" name="dte" value="<%=emprestimo.dte.toISOString().split('T')[0]%>" required>
            <label>Data de Devolução:</label>
            <input type="date" name="dtd" value="<%=emprestimo.dtd.toISOString().split('T')[0]%>" required>
            <br>
                <button type="submit" class="btn submit">Submeter edição</button>
        </form>
    </div>
    <%-include('../rodape.ejs')%>