<%-include('../cabecalho.ejs')%>
    <h1>Editar Empréstimos</h1>
    <div style="margin-bottom: 24px;">
        <a href="/emprestimo/lst" class="btn">Listar</a>
    </div>
    <div>
        <form method="post">
            <label>Livro:</label>
            <select name="livro" value ="<%=Emprestimo.livro%>">
                <option value="O Senhor dos Anéis">O Senhor dos Anéis</option>
                <option value="1984">1984</option>
                <option value="O Pequeno Príncipe">O Pequeno Príncipe</option>
                <option value="Dom Casmurro">Dom Casmurro</option>
                <option value="A Revolução dos Bichos">A Revolução dos Bichos</option>
                <option value="Cem Anos de Solidão">Cem Anos de Solidão</option>
                <option value="O Alquimista">O Alquimista</option>
            </select><br>
            <label>Nome do Usuário:</label>
            <input type="text" name="nomeUsr" value="<%=Emprestimo.nomeUsr%>">
            <label>Email do Usuário:</label>
            <input type="email" name="emailUsr" value="<%=Emprestimo.emailUsr%>">
            <label>Data de Empréstimo:</label>
            <input type="date" name="dte" value="<%=Emprestimo.dte.toISOString().split('T')[0]%>">
            <label>Data de Devolução:</label>
            <input type="date" name="dtd" value="<%=Emprestimo.dtd.toISOString().split('T')[0]%>">
            <br>
                <button type="submit" class="btn submit">Submeter edição</button>
        </form>
    </div>
    <%-include('../rodape.ejs')%>