<%-include('../cabecalho.ejs')%>
    <h1 style="text-align:center; margin-bottom:32px; color:#333;">Torneios</h1>
    <a href="/torneios/add" class="btn add" style="margin-bottom:32px;">Adicionar Torneio</a>
    <table class="curso-table" style="margin-top:24px;">
        <thead>
            <tr style="background:#e9ecef; color:#333;">
                <th>Nome do Torneio</th>
                <th>Jogo</th>
                <th>Período</th>
                <th>Premiação</th>
                <th>Status</th>
                <th colspan="2" style="text-align:center;">Ações</th>
            </tr>
        </thead>
        <tbody>
        <%for (const{nome, jogo, dti, dtt, prem, sts, id} of Torneios) {%>
        <tr>
            <td><%=nome%></td>
            <td><%=jogo%></td>
            <td><%=dti%> a <%=dtt%></td>
            <td>R$<%=prem%></td>
            <td><%=sts%></td>
            <td><a href="/torneios/edt/<%=id%>" class="btn edit"><i class="fa-solid fa-pen">‌</i></a> <a href="/torneios/del/<%=id%>" class="btn delete" onclick="return confirm('Tem certeza que deseja excluir este torneio?')"><i class="fa-solid fa-box-archive">‌</i></a></td>
        </tr>
        <%}%>
        </tbody>
    </table>
    
<%-include('../rodape.ejs')%>